#div {
    margin-left: 150px;
    
}

body {
    background-color: lightgoldenrodyellow;
}

img {
    margin-left: 150px;
    margin-bottom: -122px;
    width: 525px;
}

#title {
    font-family: 'Monoton', cursive;
    font-size: 64px;
    color: blue;
    margin-bottom: -1px;
}

#store-label {
    color: blue;
    font-size: large;
    font-family: 'Orbitron', sans-serif;
}

.store {
    margin-right: 5px;
    color: blue;
    font-family: 'Playfair Display SC', serif;
}

#store-input {
    background-color: rgba(255, 255, 0, 0.536);
    color: darkblue;
    border-radius: 4px;
}

#store-submit {
    background-color: aqua;
    color: darkblue;
    border-radius: 4px;
}

#remove-btn {
    margin-left: 125px;
    background-color: aqua;
    color: darkblue;
    border-radius: 4px;
}

#item-box {
    background-color: rgba(255, 255, 0, 0.536);
    color: darkblue;
    border-radius: 4px;
}

#sub-btn {
    margin-left: 5px;
    background-color: aqua;
    color: darkblue;
    border-radius: 4px;
}

.items {
    font-family: 'Delius', cursive;
    color: darkblue;
}

.store-form {
    padding-bottom: 20px;
}

#the-list {
    padding-top: 15px;
}

.clicks {
    font-size: small;
    margin-left: 100px;
    color: darkblue;
}